# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache

# Jupyter Notebook creates these checkpoint directories that are irrelevant to the final product
.ipynb_checkpoints/

# Ignore directories containing source data or other raw files that do not belong in the pdv repo
raw-from-source/
s3/
.ipynb_checkpoints/
